In [133]:
import numpy as np
import pandas as pd 
import sklearn

In [134]:
df = pd.read_csv('../clean-data/reduced-columns.csv')
df.head()

,FIPS,Asian_by_pop,NewCases,Otherpop_by_pop,Population_density,Confirmed,Median_Hou,NewDeaths,Deaths,Countyname,ST_Name,Older_by_pop,Population
0,1001,0.011953,27,0.001773,0.000022,6702,58731,1,103,Autauga,Alabama,0.172793,55869.0
1,1003,0.011811,15,0.002078,0.000029,20588,58320,-1,300,Baldwin,Alabama,0.256945,223234.0
2,1005,0.004194,5,0.003709,0.000009,2244,32525,0,55,Barbour,Alabama,0.163264,24686.0
3,1007,0.001277,3,0.000000,0.000009,2560,47542,0,58,Bibb,Alabama,0.169488,22394.0
4,1009,0.003916,3,0.003952,0.000022,6472,49358,1,134,Blount,Alabama,0.190717,57826.0

In [135]:
df.shape

(3143, 13)

In [136]:
nan_value = float("NaN")
df = df.replace("", nan_value)
df = df.dropna()

In [137]:
df.shape

(3141, 13)

In [138]:
from sklearn.cluster import DBSCAN

In [139]:
import sklearn.utils
from sklearn.preprocessing import StandardScaler

In [140]:
dfCluster = df[['Asian_by_pop','NewCases','Otherpop_by_pop','Population_density','Confirmed','Median_Hou','NewDeaths',
 'Deaths','Older_by_pop','Population']]

dfCluster.head()

,Asian_by_pop,NewCases,Otherpop_by_pop,Population_density,Confirmed,Median_Hou,NewDeaths,Deaths,Older_by_pop,Population
0,0.011953,27,0.001773,0.000022,6702,58731,1,103,0.172793,55869.0
1,0.011811,15,0.002078,0.000029,20588,58320,-1,300,0.256945,223234.0
2,0.004194,5,0.003709,0.000009,2244,32525,0,55,0.163264,24686.0
3,0.001277,3,0.000000,0.000009,2560,47542,0,58,0.169488,22394.0
4,0.003916,3,0.003952,0.000022,6472,49358,1,134,0.190717,57826.0

In [141]:
dfClusterScaled = StandardScaler().fit_transform(dfCluster)
dfClusterScaled

array([[-0.11899648,  0.02640322,  0.17537767, ..., -0.10670772,
         0.16512874, -0.14586713],
       [-0.12227892, -0.10387434,  0.29051179, ...,  0.18178539,
         1.08044099,  0.35605196],
       [-0.29759559, -0.21243897,  0.90604757, ..., -0.17700046,
         0.0614824 , -0.23938336],
       ...,
       [-0.35626028, -0.26672129, -0.49392822, ..., -0.23997103,
        -0.22368606, -0.25275867],
       [-0.39413791, -0.25586482,  0.26300432, ..., -0.21946899,
         0.74752366, -0.29000862],
       [-0.20770334, -0.26672129, -0.49392822, ..., -0.25022206,
         0.52077023, -0.29264169]])

In [143]:
# Density-based spatial clustering of applications with noise (DBSCAN) 
db = DBSCAN(eps=0.3, min_samples=5).fit(dfClusterScaled)

In [144]:
labels = db.labels_

In [145]:
set(labels)

{-1, 0, 1, 2, 3, 4, 5, 6}

In [146]:
df["DBCluster_#"] = labels

,FIPS,Asian_by_pop,NewCases,Otherpop_by_pop,Population_density,Confirmed,Median_Hou,NewDeaths,Deaths,Countyname,ST_Name,Older_by_pop,Population,DBCluster_#
0,1001,0.011953,27,0.001773,2.169656e-05,6702,58731,1,103,Autauga,Alabama,0.172793,55869.0,-1
1,1003,0.011811,15,0.002078,2.868502e-05,20588,58320,-1,300,Baldwin,Alabama,0.256945,223234.0,-1
2,1005,0.004194,5,0.003709,8.853070e-06,2244,32525,0,55,Barbour,Alabama,0.163264,24686.0,-1
3,1007,0.001277,3,0.000000,9.151278e-06,2560,47542,0,58,Bibb,Alabama,0.169488,22394.0,0
4,1009,0.003916,3,0.003952,2.204467e-05,6472,49358,1,134,Blount,Alabama,0.190717,57826.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,0.008674,12,0.000431,7.619300e-07,4079,74843,0,37,Sweetwater,Wyoming,0.133933,42343.0,-1
3139,56039,0.016074,8,0.000497,8.593060e-07,3653,84678,0,9,Teton,Wyoming,0.180513,23464.0,-1
3140,56041,0.001646,0,0.000000,2.028246e-06,2140,63403,0,12,Uinta,Wyoming,0.137046,20226.0,0
3141,56043,0.000000,1,0.002005,6.682561e-07,893,54158,0,26,Washakie,Wyoming,0.226337,7805.0,0
3142,56045,0.008100,0,0.000000,5.580502e-07,639,57031,0,5,Weston,Wyoming,0.205490,6927.0,0

In [150]:
df.to_csv('ClusteredData.csv')
df.to_csv('../clean-data/ClusteredData.csv')